<div>
    <p>Service details of {{name}}. Last updated: {{last_update}}</p>
</div>
<div [hidden]="!hasError">
    <p>Sorry, an error occurred while retrieving service data.</p>
</div>
<div [hidden]="hasError">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                Service name
            </div>
            <div class="col-md-2">
                Version
            </div>
            <div class="col-md-2">
                Status
            </div>
            <div class="col-md-2">
                Hostname
            </div>
            <div class="col-md-2">
                Timestamp
            </div>
            <div class="col-md-2">
                Dependencies
            </div>
        </div>
        <div class="row" [ngClass]="{ 'label-danger': !isHealthy(), 'label-success': isHealthy()}">
            <div class="col-md-2">
                {{state.ServiceName}}
            </div>
            <div class="col-md-2">
                {{state.Version}}
            </div>
            <div class="col-md-2">
                {{state.State}}
            </div>
            <div class="col-md-2">
                {{state.Hostname}}
            </div>
            <div class="col-md-2">
                {{state.Timestamp}}
            </div>
            <div class="col-md-2">
                {{state.Dependencies}}
            </div>
        </div>
    </div>
</div>